
<div *ngIf="categoryId !== 'null'">
  <div class="container-fluid" style="margin-top: 8rem;" *ngIf="categoriProducts">
    <div class="row">
     
       <!-- Sidebar -->
      <div class="col-12 col-md-3 col-lg-2" >
        <app-side-filters
        [allProductsCategory]="allProductsCategory"
        [categoriProducts]="categoriProducts"
        (filteredProductsChange)="updateFilteredProducts($event)"
        [isCategory]="true">
      </app-side-filters>
      </div>
        
      <!-- Main content (Products) -->
      <div class="col-12 col-md-9 col-lg-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ categoriProducts.descripcion }}</li>
          </ol>
        </nav>
        <h1>{{ categoriProducts.descripcion }}</h1>
        
        <!-- Product Grid -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let category of filteredProducts">
            <app-card-item [product]="category" [isHome]="true"></app-card-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
  