<div class="card" style="box-shadow: 6px 6px 10px black; border-radius: 0; opacity: 95%; margin-top: 2rem;" >
    <div class="card-body">
      <h5 class="card-title">Carro de Compras</h5>
      <ul class="list-group list-group-flush" *ngIf="carritoItems.length > 0 ">
        <li class="list-group-item" *ngFor="let product of carritoItems">
          <img [src]=product.producto.imgProduct  width="50" height="50">
          {{ product.producto.nombre }} - {{ product.precioUnitario | currency }} x {{ product.cantidad }}
          <button class="btn btn-danger btn-sm float-end" (click)="removeProduct(product.producto.id, 1)">Eliminar</button>
          
        </li>
      </ul>
      <ul class="list-group list-group-flush" *ngIf="carritoItems.length == 0 ">
        <li class="list-group-item" >
          carrito vacio
          
        </li>
      </ul>
      <div class="mt-3" *ngIf="carritoItems.length > 0 ">
        <h6>Total: {{ getTotal() | currency }}</h6>
        <button class="btn btn-secondary m-1" (click)="clearCart()">Vaciar carrito</button>
        <button class="btn m-1" style="background-color: #14435b; color: white;" (click)="sendWhatsAppMessage()">Enviar a WhatsApp</button>
        <button class="btn m-1" style="background-color: #14435b; color: white;" [routerLink]="['/carrito']">Ver carrito</button>
      </div>
    </div>
  </div>